* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font: 13px/27px Roboto, Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 60px 1fr 95px;
  width: 100vw;
  height: 100vh;
}

/* Header Section */
.header-container {
  grid-column: 1/-1;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
}
.nav-container {
  display: flex;
  width: 370px;
  justify-content: space-around;
  align-items: center;
}
.nav-link {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}
.nav-link:hover {
  text-decoration: underline;
}
.nav-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
.nav-icon-container:hover {
  border-radius: 50%;
  background-color: rgba(60, 64, 67, 0.08);
  cursor: pointer;
}
.nav-icon {
  width: 24px;
  height: 24px;
}
.nav-btn {
  width: 130px;
  padding: 5px 23px;
  font-size: 14px;
  border-radius: 4px;
  background-color: #1a73e8;
  color: #fff;
  border: 1px solid transparent;
}
.nav-btn:hover {
  cursor: pointer;
  background-color: #1b66c9;
}

/* Hero Section */
.hero-container {
  width: 100vw;
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.search-container {
  width: 100%;
  min-height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.search-bar {
  width: 584px;
  height: 44px;
  border-radius: 24px;
  border: 1px solid;
  border-color: rgba(223, 225, 229, 0);
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.search-label {
  display: inline-block;
  height: 34px;
  display: flex;
  align-items: center;
}
.search-icon,
.search-mic {
  height: 24px;
  width: 24px;
}
#search-input {
  font-size: 16px;
  flex-grow: 1;
  max-width: 450px;
}
.search-btn-container {
  min-height: 80px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.search-btn {
  color: #3c4043;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  padding: 0 14px;
  font-size: 14px;
  height: 36px;
  min-width: 54px;
  text-align: center;
}
.search-btn:hover {
  cursor: pointer;
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  border: 1px solid #dadce0;
  color: #202124;
}

/* Footer Container */
.footer-container {
  grid-column: 1/-1;
  width: 100vw;
  background-color: gray;
  justify-self: flex-end;
  background-color: #f2f2f2;
  display: grid;
  grid-template-rows: 48px 1fr;
}
.country-container {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: #70757a;
}
.footer-nav-container {
  display: flex;
  justify-content: space-between;
}
.footer-nav-left {
  box-sizing: border-box;
  flex-grow: 2;
  display: flex;
  gap: 30px;
  align-items: center;
  padding-left: 30px;
}
.footer-nav-link {
  color: #70757a;
  text-decoration: none;
  font-size: 14px;
}
.footer-nav-link:hover {
  text-decoration: underline;
}
.footer-nav-right {
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  padding-right: 30px;
}
.carbon-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.carbon-link {
  text-decoration: none;
  color: #70757a;
}
.carbon-link:hover {
  text-decoration: underline;
}
.carbon-link img {
  height: 14px;
}
